<section class="visitor">
  <img
    class="visitor__title"
    src="assets/img/caution-visitor_title.svg"
    alt="来場者の皆様へのお願い"
  />
  <div class="visitor-contents">
    <div class="visitor-colm">
      <%- include("./_visitor-explain-img__sp"); %> <%-
      include("./_visitor-explain-01"); %> <%-
      include("./_visitor-explain-02__sp"); %> <%-
      include("./_visitor-explain-03");%> <%-
      include("./_visitor-explain-ex__sp"); %>
    </div>
    <div class="visitor-colm"><%- include("./_visitor-explain-02"); %></div>
  </div>
  <div class="visitor-contents__bottom">
    <div class="visitor-colm"><%- include("./_visitor-explain-ex"); %></div>
    <div class="visitor-colm"><%- include("./_visitor-explain-img"); %></div>
  </div>
</section>
