<!DOCTYPE html>
<html lang="en">
  <%- include("./_head"); %>
  <body>
    <%- include("./header/_header"); %> <%-include("./header/_header-side"); %>
    <%-include("./archive/main/_main"); %><%-include("./archive/year/_year"); %>
    <%-include("./footer/_footer"); %>
  </body>
</html>
