<!DOCTYPE html>
<html lang="en">
  <%- include("./_head"); %>
  <body>
    <%- include("./header/_header"); %> <%-include("./header/_header-side"); %>
    <%-include("./caution/main/_main"); %> <%-include("./caution/staff/_staff");
    %><%-include("./caution/visitor/_visitor"); %>
    <%-include("./footer/_footer"); %>
  </body>
</html>
