<!DOCTYPE html>
<html lang="en">
  <%- include("./_head"); %>
  <body>
    <%-include("./_filter"); %> <%- include("./header/_header"); %> <%-
    include("./header/nav/_header-nav");%> <%-include("./header/_header-side");
    %> <%-include("./caution/main/_main"); %>
    <%-include("./caution/staff/_staff");
    %><%-include("./caution/visitor/_visitor"); %>
    <%-include("./footer/_footer-02"); %>
  </body>
</html>
