<!DOCTYPE html>
<html lang="en">
  <%- include("./_head"); %>
  <body>
    <%- include("./header/_header"); %> <%-include("./header/_header-side"); %>
    <%- include("./top/main/_main"); %> <%- include("./footer/_footer"); %>
  </body>
</html>
