<!DOCTYPE html>
<html lang="en">
  <%- include("./_head"); %>
  <body>
    <%-include("./_filter"); %> <%- include("./header/_header"); %> <%-
    include("./header/nav/_header-nav");%> <%-include("./header/_header-side");
    %> <%-include("./news/main/_main"); %> <%-include("./news/note/_note"); %>
    <%-include("./footer/_footer-02"); %>
  </body>
</html>
